.rail_title{
    margin-left: 21px;
    margin-top: 20px;
    font-weight: bold;
  }
  .rail_container{
    display: flex !important;
    gap: 5px;
    padding: 30px 0;
    margin-left: 20px;
    overflow: hidden;
    transition: 0.5ms;
    & svg {
      position: absolute;
      z-index: 1;
      padding: 10px;
      left: 0;
      & g {
        fill: black;
    }
  }
  &Arrow-R {
    margin-left: 30px;
  }
  }