.rail_title{
    margin-left: 21px;
    margin-top: 20px;
    font-weight: bold;
  }
  .rail_container{
    display: flex !important;
    gap: 5px;
    padding: 30px 0;
    margin-left: 20px;
    overflow: auto;
    & button {
      background: none;
      border: none;  
      position: absolute;
      display: none;
    }
    &-arrowR {
      margin-left: calc( 98% - 64px );
      margin-top: 110px;
    }
    &-arrorL {
      z-index: 1;
      margin-top: 126px;

    }
  }
@media(min-width: 920px){
  .rail_container {
    overflow: hidden;
    & button {
      display: inline;
  
    }

   }
}