.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
  
  .header__containerImage {
    margin-left: 10px;
  }
  .header__containerImage > a {
    text-decoration: none;
    display: flex;
  }
  
  .header__image {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  .header__total {
    color: white;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 10px;
    font-style: none;
    cursor: pointer;
  }
  
  .header__user {
    justify-content: right;
  }
  
  .header__userImage {
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .header__user:hover ul, ul:hover {
    display: block;
  
  }
  
  .header__user li {
    margin: 10px 0px;
  }
  
  .header__user li a {
    color: white;
    text-decoration: none;
  }
  
  .header__user li a:hover {
    text-decoration: underline;
  }
  
  .header__userText {
    font-size: 12px;
    display: none;
    list-style: none;
    padding: 0%;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0 0 0 -45px;
  }