.search div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_title {
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
  }
  
  .search__inputContainer {
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    height: 35px;
    padding: 0px 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
  }
  
  .search_input {
    outline: none;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
  }
  .search_input::placeholder{
    color: white;
  }
  
  .search img {
    cursor: pointer;
  }