* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #7948ec;
    color: white;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(90deg, #1ed8cf, #7f66bb);
      background-origin: border-box;
      display: grid;
  }