@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7948ec;
  color: white;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(90deg, #1ed8cf, #7f66bb);
    background-origin: border-box;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header__containerImage {
  margin-left: 10px;
  display: flex;
}

.header__containerImage img {
  width: 80px;
  height: 80px;
}

.header__containerImage p {
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.header__user {
  justify-content: right;
}

.header__userImage {
  margin: 5px;
  width: 50px;
  height: 50px;
}

.header__user:hover ul, ul:hover {
  display: block;
}

.header__user li {
  margin: 10px 0px;
}

.header__user li a {
  color: white;
  text-decoration: none;
}

.header__user li a:hover {
  text-decoration: underline;
}

.header__userText {
  font-size: 12px;
  display: none;
  list-style: none;
  padding: 0%;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -45px;
}

/* search section */
.search div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_title {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
}

.search__inputContainer {
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  height: 35px;
  padding: 0px 20px;
  width: 70%;
  margin: 0 auto;
  margin-top: 15px;
}

.search_input {
  outline: none;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.search img {
  cursor: pointer;
}

/*  CARRUSEL */
.rail {
  width: 100%;
  padding: 50px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 0fr;
  column-gap: 8px;
  margin-top: 40px;
}

.rail__item {
  background-color: black;
  border-radius: 20px;
  position: relative;
  scroll-snap-align: center;
  transition: 450ms;
  transform-origin: center left;
  overflow: hidden;
  min-width: 150px;
  position: relative;
  object-fit: cover;
}

.rail__item:hover {
  transform: translate3d(100px, 0, 0);
}

.rail:hover .rail__item {
  opacity: 0.3;
}

.rail:hover .rail__item:hover {
  transform: scale(1.2);
  opacity: 1;
}

.rail #uno {
  background-image: url(https://images.pexels.com/photos/789822/pexels-photo-789822.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.rail #b {
  background-image: url(https://images.pexels.com/photos/1427741/pexels-photo-1427741.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.rail #c {
  background-image: url(https://images.pexels.com/photos/705792/pexels-photo-705792.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}

.rail #d {
  background-image: url(https://images.pexels.com/photos/904276/pexels-photo-904276.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}

.rail #e {
  background-image: url(./fonts/aesthetic-anime-01.jpg);
}

.rail__item span img, .rail__item span svg {
  position: absolute;
  top: 205px;
  width: 30px;
  left: 8px;
  display: none;
  cursor: pointer;
}

.rail__item span svg {
  left: 46px;
  top: 189px;
}

.rail__item p {
  position: absolute;
  top: 238px;
  font-size: 12px;
  display: none;
  left: 8px;
}

.rail__item:hover p {
  display: block;
}

.rail__item:hover img, .rail__item:hover svg {
  display: block;
}

/*# sourceMappingURL=style.css.map */
